body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: url('../img/fconline.jpg') no-repeat center center fixed; 
    background-size: cover; 
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    appearance: none;
    background-color: #f2f3f5;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    background: #f9f9f9;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition: background 0.3s;
}

li:hover {
    background: #e9ecef;
}

input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.5);
}

.output {
    margin-top: 20px;
    padding: 10px;
    background: #e2e3e5;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
}
