body {
    font-family: Arial, sans-serif;
    background: url('fconline.jpg') no-repeat center center fixed; /* 배경 이미지 URL로 변경 */
    background-size: cover; /* 이미지가 화면을 덮도록 설정 */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Viewport height */
}

.container {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.9); /* 투명도를 가진 흰색 배경 */
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-top: 0;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
